@import 'tailwindcss';

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  
  --color-background: #f8fafc;
  --color-card: #ffffff;
  --color-primary: #3b82f6;
  --color-primary-dark: #2563eb;
}

body {
  @apply bg-background text-gray-900;
  font-family: var(--font-sans);
}